.Thumbnail {
  display:flex;
  height: 110px;
  width: 130px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(218, 218, 215);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 10px 10px 10px;
}
.Name {
  height: 25px;
  width: 130px;
  cursor: pointer;  
}
.Image {
  height: auto;
  width: auto;
  max-width: 120px;
  max-height: 180px;
  border-radius: 6px;

}
.container {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: #e0d9d9a6;
}


.Highlight {
  background-color: rgb(238, 238, 238);
}
.ThumbnailText{
  color: cornflowerblue;
  font-size: 16px;
}
.ThumbnailTextHover{
  color: rgb(245, 155, 52);
  font-size: 18px;
  font-weight: 900;
}
.InputName{
  width: 120px;
}
